.root {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 5%;
    align-items: center;
    justify-content: center;
}

.button_area {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;

    &_button {
        min-width: 100px;
        height: 48px;
        padding: 0 20px;
        margin: 8px;
        background: var(--color-background);
        box-shadow: var(--color-boxshadow);

        &_save {
            min-width: 100px;
            height: 48px;
            padding: 0 20px;
            margin: 8px 0 8px 8px;
            background: var(--color-gradient);
            box-shadow: var(--color-boxshadow);
            color: var(--color-text-button);
        }
    }
}

.content {
    width: 600px;
    height: max-content;
    display: flex;
    flex-direction: column;
    padding: 32px;
    margin: 2.5% 0 5%;
    border-radius: 8px;
    background: var(--color-background);
    box-shadow: var(--color-boxshadow);

    &_title {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    &_label {
        font-size: 17px;
        margin: 20px 0 10px;
    }

    &_input {
        width: 100%;
        height: 48px;
        border-radius: 8px;
        border: 1px solid var(--color-border);
        padding: 0 10px;

        &_file {
            opacity: 0;
            position: fixed;
            z-index: -1;
            top: -1000;

            & + label {
                @extend .content_input;
                line-height: 48px;
                cursor: pointer;
            }

            &:focus + label,
            & + label:hover {
                border: 1px solid var(--color-active);
            }
        }
    }

    &_detail {
        width: 100%;
        border-radius: 8px;
        border: 1px solid var(--color-border);
        padding: 10px;
        resize: none;
    }

    &_detail + &_detail {
        margin-top: 10px;
    }

    &_attend_button {
        width: 150px;
        height: 48px;
        border-radius: 8px;
        background: var(--color-gradient);
        color: var(--color-text-button);
        margin: 20px auto 0;
    }

    &_row {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        & > input {
            margin: 0;
        }

        &_label {
            margin: 0 30px 0 10px;
        }
    }

    &_add_des {
        width: 100%;
        margin: 20px 0;
        color: var(--color-secondary);
    }

    &_time {
        width: 50%;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        padding-right: 10px;

        &_right {
            @extend .content_time;
            padding-left: 10px;
            padding-right: 0;
        }
    }
}

.modal_preview_content {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    position: relative;
    padding: 2% 10%;
    overflow: auto;

    &_title {
        color: var(--color-primary);
        z-index: 1;
        position: absolute;
        top: 2%;
    }
}

.modal_preview_close {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    cursor: pointer;
}

.preview_content {
    position: absolute;
    top: 10%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
