.root_email {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email_content {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.email_title {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}

.email_title > span {
    font-size: 24px;
    color: var(--color-danger);
    margin-left: 5px;
}

.email_description {
    width: 80%;
    height: 30px;
    margin: 5px 10%;
    font-size: 15px;
    font-style: italic;
}

.email {
    width: 80%;
    margin: 20px 10%;
    display: flex;
}

.email_form {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.email_label {
    margin: 15px 0 5px;
}

.email_input {
    width: 100%;
    height: 48px;
    padding: 0 20px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid var(--color-border);
}

.email_require {
    display: flex;
    align-items: center;
    color: var(--color-secondary);
    margin: 10px 10% 0;
}

.text_error {
    font-size: 15px;
    color: var(--color-danger);
    margin: 0 0 20px;
}
