.root_star_rating {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.star_rating_content {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.star_rating_title {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}

.star_rating_description {
    width: 80%;
    height: 30px;
    margin: 5px 10%;
    font-size: 15px;
    font-style: italic;
}

.star_rating {
    width: 80%;
    margin: 20px 10%;
    display: flex;
    flex-direction: column;
}

.star_rating_form {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.star_rating_label {
    margin: 15px 0 5px;
}

.star_rating_item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-secondary);
    transform: scale(0.8);
}

.star_rating_item:hover {
    cursor: pointer;
}

.star_rating_active {
    @extend .star_rating_item;
    color: #ffd900;
    transform: scale(1.2);
}

.star_rating_icon {
    width: 100% !important;
    height: 100% !important;
    max-width: 100px;
    max-height: 100px;
    transition: all 0.5s !important;
}

.star_rating_text {
    position: absolute;
    z-index: 1;
    color: var(--color-text-button);
    margin-top: 5px;
}

.star_rating_row {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.star_rating_input {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    font-size: 14px;
}

.star_rating_input:last-child {
    text-align: right;
}


.rating_choicerequire {
    display: flex;
    align-items: center;
    color: var(--color-secondary);
    margin: 10px 10% 0;
}


.text_error {
    font-size: 15px;
    color: var(--color-danger);
    margin: 0 10% 40px;
}