.root {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.root:hover > div,
.root:hover svg {
    color: var(--color-active);
}

.active {
    color: var(--color-active) !important;
    font-weight: 600 !important;
}

.nav_icon {
    width: 48;
}

.nav_icon svg {
    color: var(--color-secondary);
}

.nav_icon_active {
    @extend .nav_icon;
    @extend .active;
}

.nav_icon_active svg {
    color: var(--color-active);
    font-weight: 600;
}

.nav_content {
    font-size: 16px;
    font-weight: 300;
    margin-left: 8px;
    color: var(--color-secondary);
}

.nav_content_active {
    @extend .nav_content;
    @extend .active;
}
