.root {
    width: 60%;
    min-width: 800px;
    // flex: 1;
    display: flex;
    padding: 20px 0px;

    &__title {
        font-size: 34px;
        font-weight: 600;
    }

    &__description {
        font-size: 17px;
        margin-top: 10px;
        color: var(--color-secondary);
    }

    &_share_label {
        font-size: 17px;
        margin-top: 20px;
    }

    &_row {
        width: 100%;
        display: flex;
        align-items: center;
        margin: 10px 0 40px;
        position: relative;
    }

    &_icon_link {
        width: 20px;
        height: 20px;
        position: absolute;
        left: 15px;
    }

    &_link_input {
        flex: 1;
        height: 40px;
        border-radius: 8px;
        border: 1px solid var(--color-border);
        padding: 0 10px 0 45px;
        display: flex;
        align-items: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &_link_copy {
        color: var(--color-link);
        margin: 0 0 0 5%;
        cursor: pointer;
    }

    &_link_copy:hover {
        text-decoration: underline;
    }
}

.nav {
    width: 300px;
    height: calc(100vh - 128px);
    position: fixed;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color-background);
    box-shadow: 0 0 15px rgb(0 0 0 / 6%);
    clip-path: inset(-30px -30px -30px 0);
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
}

.label {
    height: 25px;
    font-size: 18px;
    font-weight: 700;
    margin: 20px 0;
}

.element {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.element_item {
    width: 100%;
    height: 54px;
    display: flex;
    align-items: center;
}

.element_item:hover {
    cursor: pointer;

    .element_label {
        color: var(--color-active);
    }
}

.element_icon {
    width: 54px;
    height: 54px;
    background: var(--color-gradient);
    color: var(--color-text-button);
}

.element_icon_img {
    width: 34px;
    height: 34px;
    margin: 10px;
}

.element_label {
    padding: 0 18px;
}

.line {
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, transparent, var(--color-border), transparent);
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0 10%;
    max-width: 1000px;
    margin: 0 auto;
}

.button_area {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.button {
    min-width: 100px;
    height: 48px;
    padding: 0 20px;
    margin: 8px;
    background: var(--color-background);
    box-shadow: var(--color-boxshadow);
    display: flex;
    align-items: center;
    font-weight: 600;
}

.button_save {
    min-width: 100px;
    height: 48px;
    padding: 0 20px;
    margin: 8px 0 8px 8px;
    background: var(--color-gradient);
    box-shadow: var(--color-boxshadow);
    color: var(--color-text-button);
}

.button:hover {
    color: var(--color-link);
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.welcome {
    width: 100%;
    height: 240px;
    border-radius: 8px;
    background: var(--color-background);
    box-shadow: var(--color-boxshadow);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    margin: 20px 0;
}

.welcome_img {
    width: 500px;
    height: 130px;
}

.welcome_title {
    font-size: 68px;
    font-family: 'Great Vibes', cursive;
}

.welcome_text {
    width: 80%;
    margin: 20px 10%;
    text-align: center;
}

.welcome_button {
    width: 100%;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background: var(--color-gradient-secondary);
    color: var(--color-text-button);
    border-radius: 0;
}

.welcome_button:hover > svg {
    animation: slideOutRight 1s infinite;
}

@keyframes slideOutRight {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    50% {
        visibility: hidden;
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideOutLeft {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    50% {
        visibility: hidden;
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.icon_next {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}

.icon_prev {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.end {
    @extend .welcome;
    justify-content: center;
    margin-bottom: 0;
}

.element_content {
    width: 100%;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0;
    border-radius: 8px;
    background: var(--color-background);
    box-shadow: var(--color-boxshadow);
    position: relative;
}

.button_submit {
    width: 100%;
    height: 54px;
    display: flex;
    align-items: center;
}

.button_next {
    flex: 1;
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 18px;
    background: var(--color-gradient-secondary-mirror);
    color: var(--color-text-button);
    cursor: pointer;
    border-left: 1px solid var(--color-background);
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 0;
}

.button_next:hover > svg {
    animation: slideOutRight 1s infinite;
}

.button_prev {
    @extend .button_next;
    justify-content: flex-start;
    background: var(--color-gradient-secondary);
    border-right: 1px solid var(--color-background);
    border-left: none;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 10px;
}

.button_prev:hover > svg {
    animation: slideOutLeft 1s infinite;
}

.element_action_area {
    position: absolute;
    right: -50px;
    // width: 40px;
    // height: 40px;
    // border-radius: 50%;
    // background: var(--color-danger);
    color: var(--color-text-button);
    // box-shadow: var(--color-boxshadow);
    // display: flex;
    // align-items: center;
    // justify-content: center;

    &__edit {
        @extend .button_action;
        background: var(--color-gradient);
    }

    &__delete {
        @extend .button_action;
        background: var(--color-danger);
    }
}

.element_bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: grey;
    top: 0;
    left: 0;
    z-index: -1;
}

.button_action {
    // position: absolute;
    // right: -50px;
    margin: 20px 0px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: var(--color-text-button);
    box-shadow: var(--color-boxshadow);
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_delete_icon {
    width: 25px;
    height: 25px;
}

.modal_content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.modal_loading_icon {
    width: 150px;
    height: 150px;
    margin: 30px auto;
}

.modal_label {
    font-size: 17px;
    color: var(--color-secondary);
    margin-top: 10px;
}

.modal_content_text {
    font-size: 18px;
    text-align: center;
    text-decoration: underline;
    padding-bottom: 10px;
}

.modal_row {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 40px;
    justify-content: space-between;
}

.modal_button_publish {
    height: 48px;
    width: 45%;
    padding: 0 20px;
    background: var(--color-gradient);
    color: var(--color-text-button);
}

.modal_button {
    color: var(--color-link);
    cursor: pointer;
}

.modal_button:hover {
    text-decoration: underline;
}

.margin_top {
    margin-top: 20px;
}

.margin_left {
    margin-left: 20px;
}

.modal_text {
    margin: 0 20px 0 10px;
}

.modal_preview_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 30px 5%;
    overflow: auto;
    border-radius: 8px;
    max-height: 90vh;
}

.modal_edit_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    position: relative;
    padding: 30px 5%;
    overflow: auto;
    width: 900px;
    border-radius: 8px;
    max-height: 90vh;
}

.modal_preview_close {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    cursor: pointer;
}

.modal_preview_content_title {
    z-index: 1;
    margin-bottom: 20px;
}

.preview_content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_edit_title {
    font-weight: 600 !important;
    font-family: 'DM Sans', sans-serif !important;
}

.modal_edit_row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.modal_edit_button {
    width: 150px;
    height: 48px;
    border: 1px solid var(--color-border);
    margin: 10px;
}

.modal_edit_button_save {
    width: 150px;
    height: 48px;
    border: none;
    background: var(--color-gradient);
    color: var(--color-text-button);
}

.button_area_icon {
    margin-right: 10px;
}
