.root {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10%;
}

.content {
    width: 800px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5% 0;
}

.form_title {
    font-size: 30px;
    margin: 5% 0;
}

.number_element {
    margin: 20px auto 10%;
    font-weight: 600;
    font-size: 14px;
}

.welcome {
    width: 100%;
    height: 240px;
    border-radius: 8px;
    background: var(--color-background);
    box-shadow: var(--color-boxshadow);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    margin: 20px 0;
}

.welcome_img {
    width: 500px;
    height: 130px;
}

.welcome_title {
    font-size: 68px;
    font-family: 'Great Vibes', cursive;
    margin-top: 40px;
    text-align: center;
}

.welcome_text {
    width: 80%;
    margin: 20px 10%;
    text-align: center;
}

.welcome_button {
    width: 100%;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background: var(--color-gradient-secondary);
    color: var(--color-text-button);
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 10px;
    cursor: pointer;
}

.welcome_button:hover > svg {
    animation: slideOutRight 1s infinite;
}

.icon_next {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}

.icon_prev {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.end {
    @extend .welcome;
    justify-content: center;
    margin-bottom: 0;
}

.element_content {
    width: 100%;
    min-height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0;
    border-radius: 8px;
    background: var(--color-background);
    box-shadow: var(--color-boxshadow);
    align-items: center;
}

.button_submit_element {
    width: 100%;
    height: 54px;
    display: flex;
    align-items: center;
}

.button_next {
    flex: 1;
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 18px;
    background: var(--color-gradient-secondary-mirror);
    color: var(--color-text-button);
    cursor: pointer;
    border-left: 1px solid var(--color-background);
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 0;
}

.button_next:hover > svg {
    animation: slideOutRight 1s infinite;
}

.button_prev {
    @extend .button_next;
    justify-content: flex-start;
    background: var(--color-gradient-secondary);
    border-right: 1px solid var(--color-background);
    border-left: none;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 10px;
}

.button_submit {
    width: 100%;
    height: 54px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: var(--color-gradient-secondary-mirror);
    color: var(--color-text-button);
    cursor: pointer;
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 10px;
}

.button_submit:hover > svg {
    animation: slideOutTop 1s infinite;
}

.button_prev:hover > svg {
    animation: slideOutLeft 1s infinite;
}

@keyframes slideOutRight {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    50% {
        visibility: hidden;
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideOutLeft {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    50% {
        visibility: hidden;
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideOutTop {
    0% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, 0, 0);
    }

    50% {
        visibility: hidden;
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.success_icon {
    width: 100px !important;
    height: 100px !important;
    color: #37e100;
    margin-top: 40px;
}

.goto_homepage {
    color: var(--color-link);
    margin: 20px 0;
    cursor: pointer;
}

.goto_homepage:hover {
    text-decoration: underline;
}

.modal_content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.modal_loading_icon {
    width: 150px;
    height: 150px;
    margin: 30px auto;
}

.modal_label {
    font-size: 17px;
    color: var(--color-secondary);
    margin-top: 10px;
    text-align: center;
}

.modal_content_text {
    font-size: 18px;
    text-align: center;
    text-decoration: underline;
    padding-bottom: 10px;
}

.modal_success {
    width: 100%;
    display: flex;
    align-items: center;
}

.success_icon {
    font-size: 100px !important;
    margin: 20px auto;
    color: rgb(120, 187, 7);
    line-height: 1.5;
}

.error_icon {
    @extend .success_icon;
    color: var(--color-danger);
}

.line {
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, transparent, var(--color-border), transparent);
}
