.root {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 4% 10%;
}

.content {
    width: 100%;
    max-width: 1000px;
    min-width: 650px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    &_title {
        font-size: 50px;
        margin: 20px 0;
        font-weight: 600;
    }
    &_sub {
        font-size: 24px;
        margin-bottom: 20px;
    }

    &_item {
        width: 100%;
        height: 120px;
        border-radius: 8px;
        background: var(--color-background);
        box-shadow: var(--color-boxshadow);
        margin: 20px 0;
        padding: 0 20px;
        display: flex;
        align-items: center;

        &_icon {
            width: 80px;
            height: 80px;
            padding: 10px;
            border-radius: 8px;
            background: var(--color-gradient);
        }

        &_content {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 20px;
        }

        &_title {
            margin: 15rem 0;

            font-size: 48px;
            font-weight: 300;
            text-align: center;
            color: var(--color-primary);
            // text-transform: uppercase;
            text-decoration: underline;
        }
        &_titlea {
            margin: 15rem 0;

            font-size: 45px;
            font-weight: 300;
            text-align: center;
            color: var(--color-primary);
            text-decoration: underline;
            // text-transform: uppercase;
        }

        &_label {
            font-size: 18px;
            font-weight: 300;
            margin-top: 15px;
            color: var(--color-secondary);
        }

        &_button {
            width: 120px;
            height: 48px;
            background: var(--color-gradient);
            color: var(--color-text-button);
        }
    }
}
