.root {
    width: 70%;
    // flex: 1;
    display: flex;
    // padding: 20px 0 20px 300px;
}

.nav {
    width: 300px;
    //height: calc(100vh - 128px);
    position: fixed;
    //float: right;
    //left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color-background);
    box-shadow: 0 0 15px rgb(0 0 0 / 6%);
    clip-path: inset(-30px -30px -30px 0);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.label {
    height: 25px;
    font-size: 18px;
    font-weight: 700;
    margin: 20px 0;
}

.element {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.element_item {
    width: 100%;
    height: 54px;
    display: flex;
    align-items: center;
}

.element_item:hover {
    cursor: pointer;

    .element_label {
        color: var(--color-active);
    }
}

.element_icon {
    width: 54px;
    height: 54px;
    background: var(--color-gradient);
    color: var(--color-text-button);
}

.element_icon_img {
    width: 34px;
    height: 34px;
    margin: 10px;
}

.element_label {
    padding: 0 18px;
}

.line {
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, transparent, var(--color-border), transparent);
}

.container {
    //flex: 1;
    // display: flex;
    //float: left;
    flex-direction: column;
    width: 100%;
    //padding: 0 30%;
    padding-right: 20%;
    // left: 0;
}

.button_area {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.button {
    min-width: 100px;
    height: 48px;
    padding: 0 20px;
    margin: 8px;
    background: var(--color-background);
    box-shadow: var(--color-boxshadow);
}

.button_save {
    min-width: 100px;
    height: 48px;
    padding: 0 20px;
    margin: 8px 0 8px 8px;
    background: var(--color-gradient);
    box-shadow: var(--color-boxshadow);
    color: var(--color-text-button);
}
.dropbtn {
    min-width: 100px;
    height: 48px;
    padding: 0 20px;
    margin: 8px 0 8px 8px;
    background: var(--color-background);
    box-shadow: var(--color-boxshadow);
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 5px;
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown_content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown_content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown_content {
    display: block;
}

.dropdown:hover .dropbtn {
    background: var(--color-gradient);
    box-shadow: var(--color-boxshadow);
    color: var(--color-text-button);
}

.button:hover {
    color: var(--color-active);
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.welcome {
    width: 100%;
    height: 240px;
    border-radius: 10px;
    background: var(--color-background);
    box-shadow: var(--color-boxshadow);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    margin: 20px 0;
}

.welcome_img {
    width: 500px;
    height: 130px;
}

.welcome_title {
    font-size: 68px;
    font-family: 'Lobster';
    //background: var(--color-gradient-secondary);
    color: #db6b09;
}

.welcome_text {
    width: 80%;
    margin: 20px 10%;
    text-align: center;
}

.welcome_button {
    width: 100%;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background: var(--color-gradient-secondary);
    color: var(--color-text-button);
    border-radius: 0;
}

.welcome_button:hover > svg {
    animation: slideOutRight 1s infinite;
}

@keyframes slideOutRight {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    50% {
        visibility: hidden;
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideOutLeft {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    50% {
        visibility: hidden;
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.icon_next {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}

.icon_prev {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.end {
    @extend .welcome;
    justify-content: center;
    margin-bottom: 0;
}

.element_content {
    width: 100%;
    min-height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0;
    border-radius: 10px;
    background: var(--color-background);
    box-shadow: var(--color-boxshadow);
    position: relative;
}

.element_action_area {
    position: absolute;
    right: -50px;
    // width: 40px;
    // height: 40px;
    // border-radius: 50%;
    // background: var(--color-danger);
    color: var(--color-text-button);
    // box-shadow: var(--color-boxshadow);
    // display: flex;
    // align-items: center;
    // justify-content: center;

    &__edit {
        @extend .button_action;
        background: var(--color-gradient);
    }

    &__delete {
        @extend .button_action;
        background: var(--color-danger);
    }
}

.button_action {
    // position: absolute;
    // right: -50px;
    margin: 20px 0px;
    width: 40px;
    height: 40px;
    border-radius: 10%;
    color: var(--color-text-button);
    box-shadow: var(--color-boxshadow);
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_submit {
    width: 100%;
    height: 54px;
    display: flex;
    align-items: center;
}

.button_next {
    flex: 1;
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 18px;
    background: var(--color-gradient-secondary-mirror);
    color: var(--color-text-button);
    cursor: pointer;
    border-left: 1px solid var(--color-background);
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 0;
}

.button_next:hover > svg {
    animation: slideOutRight 1s infinite;
}

.button_prev {
    @extend .button_next;
    justify-content: flex-start;
    background: var(--color-gradient-secondary);
    border-right: 1px solid var(--color-background);
    border-left: none;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 10px;
}

.button_prev:hover > svg {
    animation: slideOutLeft 1s infinite;
}

.button_delete {
    position: absolute;
    right: -50px;
    width: 40px;
    height: 40px;
    border-radius: 10%;
    background: var(--color-danger);
    color: var(--color-text-button);
    box-shadow: var(--color-boxshadow);
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_delete_icon {
    width: 25px;
    height: 25px;
}

.modal_content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.modal_loading_icon {
    width: 150px;
    height: 150px;
    margin: 30px auto;
}

.modal_label {
    font-size: 18px;
    margin-top: 15px;
    text-align: center;
}

.modal_content_text {
    font-size: 18px;
    text-align: center;
    text-decoration: underline;
    padding-bottom: 10px;
}

.modal_row {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 40px;
    justify-content: space-between;
}

.modal_button_publish {
    height: 48px;
    width: 48%;
    padding: 0 20px;
    background: var(--color-gradient);
    color: var(--color-text-button);
}

.modal_button {
    height: 48px;
    width: 48%;
    padding: 0 20px;
    border: 1px solid var(--color-border);
    color: var(--color-secondary);
}

.margin_top {
    margin-top: 20px;
}

.margin_left {
    margin-left: 20px;
}

.modal_text {
    margin: 0 20px 0 10px;
}

.modal_preview_content {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    position: relative;
    padding: 5% 10%;
    overflow: auto;
}

.modal_preview_close {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    cursor: pointer;
}

.modal_preview_content_title {
    color: var(--color-primary);
}

.preview_content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_success {
    width: 100%;
    display: flex;
    align-items: center;
}

.success_icon {
    font-size: 100px !important;
    margin: 20px auto;
    color: rgb(120, 187, 7);
    line-height: 1.5;
}

.error_icon {
    @extend .success_icon;
    color: var(--color-danger);
}
