.root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 1120px;
}

.header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 5%;

    &_title {
        font-size: 17px;
        font-weight: 600;
        margin-right: 20px;
    }

    &_close {
        cursor: pointer;
    }
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;

    &_info {
        width: 100%;
        display: flex;
        flex-direction: column;

        &_date {
            color: var(--color-secondary);
        }

        &_name {
            font-size: 20px;
            font-weight: 600;
            margin: 10px 0;
        }

        &_row {
            display: flex;
            align-items: center;
            margin-top: 10px;

            &_icon {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                padding: 10px;
                background: #cae6f7;
                box-shadow: var(--color-boxshadow);
            }

            &_info {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-left: 20px;

                &_host {
                    font-size: 14px;
                    color: var(--color-secondary);
                }

                &_wallet {
                    margin-top: 5px;
                }
            }
        }
    }

    &_detail {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 20px 0;
        margin: 20px 0;

        &_row {
            width: 100%;
            height: 300px;
            display: flex;
            align-items: center;
        }

        &_cover {
            width: 58%;
            height: 100%;
            min-height: 150px;
            border-radius: 8px;
            border: 1px solid var(--color-border);
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;

            &_img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &_info {
            width: 34%;
            height: 100%;
            max-width: 400px;
            min-width: 250px;
            padding: 5px 20px;
            border-radius: 8px;
            background: var(--color-gradient);
            color: var(--color-text-button);
            margin-left: 8%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            &_row {
                display: flex;
                align-items: center;
                margin: 15px 0;
            }

            &_icon {
                font-size: 30px !important;
            }

            &_column {
                flex: 1;
                display: flex;
                flex-direction: column;
                margin-left: 20px;
                max-width: 300px;
                min-width: 160px;
            }

            &_date {
                margin: 5px 0;
            }

            &_add {
                margin-top: 10px;
                cursor: pointer;
                text-decoration: underline;
            }

            &_link {
                text-decoration: underline;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                cursor: pointer;
            }
        }

        &_label {
            font-weight: 600;
            margin: 30px 0 10px;
        }

        &_list {
            display: flex;
            align-items: center;
            margin: 15px 0;
            flex-wrap: wrap;

            &_wallet {
                padding: 15px 20px;
                border-radius: 8px;
                margin-right: 20px;
                background: var(--color-background);
                box-shadow: var(--color-boxshadow);
            }
        }
    }
}
