:root {
    --color-primary: #23262f;
    --color-secondary: #23262f;
    --color-danger: #ff3c3c;
    --color-link: #e77000;
    --color-active: #e77000;
    --color-border: #c5ccdf;
    --color-text-button: #ffffff;
    --color-gradient: linear-gradient(135deg, #e77000, #d956aa);
    --color-gradient-secondary: linear-gradient(135deg, #e77000, #d956aa);
    --color-gradient-secondary-mirror: linear-gradient(135deg, #e77000, #d956aa);
    --color-gradient-third: linear-gradient(180deg, #ff881f 0%, #fb6d23 100%, #fb6d23 100%);
    --color-boxshadow: rgb(0 0 0 / 8%) 0px 20px 27px 0px;
    --color-background: rgba(255, 255, 255, 0.5);
}

* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
    font-size: 16px;
    line-height: 1.3;
    color: var(--color-primary);
    background: #ffffff;
}

.form_bg {
    background: #f6f6f6 no-repeat center top;
    background-image: url(../public/bg1.jpg);
    background-size: cover;
    width: 100%;
    height: 88vh;
    filter: blur(3rem);
    opacity: 0.5;
    position: fixed;
    top: 20px;
    left: 0;
    z-index: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

input,
textarea,
button {
    font-family: 'Poppins';
    font-size: 16px;
    line-height: 1.3;
    background: transparent;
    border-radius: 0px;
    border: none;
    outline: none;
}

button {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 4px rgb(150, 146, 146);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #fff7f7;
    border-radius: 10px;
    box-shadow: inset 0 0 4px rgb(88 88 88);
}
::-webkit-scrollbar-thumb:hover {
    background: #f0eef8;
}

.MuiDialog-paper {
    background-color: transparent !important;
    box-shadow: none !important;
    border-radius: 10px !important;
}
